
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --black-color: black;
    --orange-color:#e50914;
    --light_black:#333;
    --blue_color: #0DBFB3;

}

html {
    box-sizing: border-box;
    background-color:black ;
    color:white;
    min-width: 300px;
   width: 100% !important;
    overflow-x: hidden;
  

}



body {

margin: 0;
padding: 0;
width: 100%;
min-width: 300px;
overflow-x: hidden;




   
}


h1,
h2,
h3
{   font-size: 2rem;
    padding:0.9rem;
    margin: 0;
    text-align: center;
}



h2,h3 {   
    font-size: 1.5rem;
    padding:0.9rem;
    margin: 0;
    text-align: center;
}



/* Same day delivery */

.same_day_section{
   background-image: url(Images/1pro.png); 
   background-color: var(--light_black);
   background-repeat: no-repeat;
   background-size: cover;
   height: 50vh;
   
   
 
}



header {
    padding:2rem;
    display:flex !important;
    justify-content: space-between !important;
  
}




header > a:nth-of-type(2){
   
    text-decoration: none;
    background-color: var(--blue_color);
    border: 1px solid;
    border-radius: 0.2rem;
    padding:0.4rem;

}






.sameday_text_nd_input_box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:black;
    padding-top:1rem;
    padding-bottom:8rem;
    padding-left: 1rem;
  
  
    
    

    
}

.mail1_nd_btn_box {
display:flex;
flex-wrap: wrap;
justify-content: center;



}

input {
   
    padding: 1rem;
    border: none;
    min-width: 300px;
    margin-top: 1rem;
    border: 1px solid black !important;
    box-shadow: 0 0 1em rgba(0,0,0,0.2)
    
    
}


.sameday_text_nd_input_box button {
    background-color:var(--blue_color);
    margin-top: 1rem;
    padding: 1rem;
    color:white;
    border: none;
    
    margin: 0px;;

   
    

}

hr {
    height:0.7rem !important; 
    background-color:var(--light_black) !important;
    border:1px solid black !important;
    margin: 0px !important;
}




/* Buy or sell*/

.buy_or_sell_section {
    
   
   
    background-image: url(./Images/visit.png);
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
   
}


.buy_or_sell h1, a {
color:black !important;
text-decoration: none;

}

.buy_or_sell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  
   
}

.buy_or_sell h1, a {

color:black;
text-decoration: none;

}

.buy_or_sell a {

    color:var(--blue_color) !important;
   
    
    }








/* Happy to hear */
.happy_to_hear{

    display:flex;
    flex-direction: column;
    height: 50vh;
    color:white;
    background-image: url(./Images/handshake_img.jpeg);
    background-color: var(--light_black);
    background-blend-mode: multiply;
   
  
}





.carousel-inner {
    height: 30vh;
  
}


.carousel-caption {
   
    top:0px !important;
    font-size: 2rem;
  
}


.carousel-caption > h3 {
   
  color:var(--blue_color)
  
}

.glyphicon-chevron-left {
    color:var(--blue_color)
}

.glyphicon-chevron-right {
    color:var(--blue_color)
}

.carousel-indicators {
    display:none;
}






/* frequently */

.frequently_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem ;
    color:black;
    
    background-image: url(./Images/faq1.jpeg);
   
   
    
}

.buttons_div {

    width: 50%;
  
    display: flex;
    flex-direction: column;
    min-width: 375px;
    
  
  
    
   
}






.dropdown {
    background-color:var(--blue_color); 
    max-width: 82.9%;
    margin:auto;
    height:100%;
    display:none;
    color:black;
    font-size: 1.2rem;
    padding:1rem;
  
  
   
}

.dropdown-check:checked ~ .dropdown {
  display:block;
  
}

.dropdown-check {
    display:none; 
}







.dropdown2 {
    background-color:var(--blue_color); 
    max-width: 82.9%;
    margin:auto;
    height:100%;
    display:none;
    color:black;
    font-size: 1.2rem;
    padding:1rem;
  
}

.dropdown-check2:checked ~ .dropdown2 {
  display:block;
  
}

.dropdown-check2 {
    display:none; 
}








.dropdown3 {
    background-color:var(--blue_color); 
    max-width: 82.9%;
    margin:auto;
    height:100%;
    display:none;
    color:black;
    font-size: 1.2rem;
    padding:1rem;
  
}

.dropdown-check3:checked ~ .dropdown3 {
  display:block;
  
}

.dropdown-check3 {
    display:none; 
}








.dropdown4 {
    background-color:var(--blue_color);  
    max-width: 82.9%;
    margin:auto;
    height:100%;
    display:none;
    color:black;
    font-size: 1.2rem;
    padding:1rem;
  
   
}

.dropdown-check4:checked ~ .dropdown4 {
  display:block;
  
}

.dropdown-check4 {
    display:none; 
}





.dropdown5 {
    background-color:var(--blue_color); 
    max-width: 82.9%;
    margin:auto;
    height:100%;
    display:none;
    color:black;
    font-size: 1.2rem;
    padding:1rem;
  
   
}

.dropdown-check5:checked ~ .dropdown5 {
  display:block;
  
}

.dropdown-check5 {
    display:none; 
}






.buttons_div button {


padding:1rem;
font-size: 1.2rem;
font-weight: bold;

margin: 0.3rem 2rem;
background-color:var(--blue_color); 
color:black;
border: none;
display: flex;
justify-content: space-between;
flex-wrap: nowrap;


}



.mail_nd_btn_box {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  

    
 }


 input {
   
    padding: 1rem;
    border: none;
    min-width: 300px;
    margin-top: 1rem;
    
    
}



/* footer */

.footer_section {

    background-image: url(/Images/footerimg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
    display:flex;
    padding:1rem;
    padding-left: 5rem;
    padding-right: 5rem;
  

}

.footer_section > * {
    width: 100%;
}


.footer_logo {
    height:3rem;
}

.social_media a {
   color:black !important;
   font-size: 1.5rem;
}


.connect {
    display:flex;
    flex-direction: column;
    align-items: center; 
}

.company {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.explore {
    display:flex;
    flex-direction: column;
    align-items: center;
}




.footer_section h3 {
    font-size: 2rem !important;
}








/* 500px section */
/* 500px section */
/* 500px section */
/* 500px section */


@media only screen and (max-width: 500px) {

    /* first_section_mobile */

      header img {
        height:3rem;
        
        
        }
        
        
        header > a:nth-of-type(2){
            color:white;
            text-decoration: none;
            background-color: var(--blue_color);
            border: 1px solid;
            border-radius: 0.2rem;
            padding:0.4rem;
            font-size: 1rem;
            
        
        }

    .same_day_section{
        background-image: url(Images/1pro\ mobilepng.png); 
        background-color: var(--light_black);
        background-repeat: no-repeat;
        background-size: cover;
     
        background-blend-mode: multiply;

        
        
      
     }

     .sameday_text_nd_input_box{
         display:flex;
         color:#f4f5f4;
        justify-content: center;
        align-items: center;
         
     }


     /* hear from the happy clients */

     .happy_to_hear {
         padding:1rem;
     }

     .happy_to_hear> h2 {
         font-size: 2rem;
         margin: 0px;
        
     }

     .carousel-inner {

        height: 35vh;
       
      
    }

    .carousel-indicators {
        display:none;
    }
    
    
    .carousel-caption {
       
        top:0px !important;
        font-size: 1.5rem;
      
    }

    .carousel-caption > h3{
       
 
        font-size: 2rem;
      
    }

    .caption_2 {
        font-size: 1.2rem !important;
    }


    

    
        /* buy or sell mobile */
     .buy_or_sell_section{
    
   
   
        background-image: url(./Images/visit\ mob.png);
        background-size: cover;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--light_black);
        background-blend-mode: multiply;
        
    }


    
  
    
    .buy_or_sell h1, a {
  
    color:white !important;
    text-decoration: none;
    font-size: 2.5rem;
    
    
    }


    .buy_or_sell h2 > a {
 
        background-image:url(https://i.pinimg.com/originals/58/a9/44/58a944b0faa4d14a4eae9dde7950a6ad.gif) !important;
        background-size:100%;
        -webkit-background-clip: text !important;
        color:transparent !important;
       
        
        
        }

    .sign_in {

        font-size: 3 !important;
        height:2.3rem;
    }


    /* footer-mobile */


    .footer_section {

  
        color:black;
        display:flex;
        flex-direction: column;
        padding:1rem;
        padding-left: 5rem;
        padding-right: 5rem;
      
    
    }
    
    .footer_section > * {
        width: 100%;
    }
    
    .social_media a {
        color:black;
        font-size: 2rem;
        padding-right: 1rem;
       
        
     }


    

     .connect h3, .company h3, .explore h3 {
         padding:0px !important;
         font-weight: bold;
         color:black !important;
     }

    ul a {
        color:black !important;
        font-size: 1.5rem;
       
    }

     ul {
         list-style: none;
     }
   


    




}






/* 950 media query */
/* 950 media query */
/* 950 media query */
/* 950 media query */
/* 950 media query */
/* 950 media query */



@media only screen and (min-width:950px) {


            h1,
            h2,
            h3
            {   font-size: 3.5rem;
                padding:0.9rem;
                margin: 0;
                text-align: center;
            }



            h2,h3 {   font-size: 1.2rem;
                padding:0.9rem;
                margin: 0;
                text-align: center;



            }



            /* first section */
            header img {
                height:6rem;
                
                
                }

                .sign_in {

                    font-size: 3 !important;
                    height:2.8rem;
                }

            .mail1_nd_btn_box button {
                font-size: 1.5rem;
            }




            .sameday_text_nd_input_box {
            
               
                padding:0px;
                
                padding-left: 3rem;
                display:flex !important;
                justify-content: center !important;



                
            }

            input {
   
                padding: 1rem;
                border: none;
                min-width: 450px;
                margin-top: 1rem;
                border: 1px solid black !important;
                box-shadow: 0 0 1em rgba(0,0,0,0.2);
                font-size: 1.2rem;
            
            }


            /* Buy & Sell */

            
            

            .buy_or_sell_section{
    
   
   
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                
            }

            .buy_or_sell {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left:40px;
                
              
               
            }

            .buy_or_sell h1,a  {
             
                color:black;

              
               
            }

              .buy_or_sell h1  {
             
             
                font-size: 3.5rem;

              
               
            }


            .buy_or_sell a  {
             
                font-size: 2.5rem;
                color:var(--blue_color) !important;
              
               
            }

            .buy_or_sell a:hover  {
             
                text-decoration: underline;
                
              
               
            }


           
    

            /* frequently */
            .link_ul{
                padding:3rem !important;
                list-style: none;
                padding: 0 ;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                flex-direction: column;
                justify-content: center;
                width: 100%;
               
            
            }

            .buttons_div  {
                padding:2rem;
                
            }
            .buttons_div button {


               
                font-size: 1.2rem !important;
                
               
                
                
                }


             .buttons_div button {
                 font-size: 2rem !important;
             }
        



            .dropdown {
                max-width: 82.9%;
                min-width:91%;
                color:black;
            }
               

            .dropdown2 {
               
                min-width:91%;
                color:black;
            }

            .dropdown3 {
               
                min-width:91%;
                color:black;
            }

            .dropdown4 {
               
                min-width:91%;
                color:black;
            }

            .dropdown5 {
               
                min-width:91%;
                color:black;
            }




           .buttons_div {
               padding:2rem;
           }


            .social_media {
                color:black;
                font-size: 1.5rem;
               
                
             }
        
             .social_media a {
                 padding-right: 1rem;
                 
             }

             .social_media a:hover {
                color:var(--blue_color) !important;
            }


            .company a:hover {
                color:var(--blue_color) !important;
                text-decoration: none;
            }


            .explore a:hover {
                color:var(--blue_color) !important;
                text-decoration: none;
            }


             .footer_section {

       
                color:black;
               
              
            
            }

            ul {
                list-style: none;
            }


}
            
            
            
            

