
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --black-color: black;
    --orange-color:#e50914;
    --light_black:#333;
}

html {
    box-sizing: border-box;
    background-color: var(--black-color) ;
    color:white;
    min-width: 300px;
    max-width: 100%;
    overflow-x: hidden;

}



body {

margin: 0;
padding: 0;
max-width: 100%;
min-width: 300px;

overflow-x: hidden;


   
}


h1,
h2,
h3
{   font-size: 2rem;
    padding:0.9rem;
    margin: 0;
    text-align: center;
}



h2,h3 {   font-size: 1.5rem;
    padding:0.9rem;
    margin: 0;
    text-align: center;
}



/* first section */

.unlimited_section {
   background-image: url(Images/img1.jpg);
   background-color: var(--light_black);
   background-blend-mode: multiply;
   height:100vh;
   min-height: 120vh;
   

}





header {
    padding:2rem;
    display:flex;
    justify-content: space-between;
  
}

header img {
height:2rem;


}


header > a:nth-of-type(2){
    color:white;
    text-decoration: none;
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-radius: 0.2rem;
    padding:0.4rem;

}


.unlimited_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.mail1_nd_btn_box {
display:flex;
flex-wrap: wrap;
justify-content: center;



}

input {
   
    padding: 1rem;
    border: none;
    min-width: 300px;
    margin-top: 1rem;
    
    
}


.unlimited_box button {
    background-color:var(--orange-color);
    margin-top: 1rem;
    padding: 1rem;
    color:white;
    border: none;

   
    

}

hr {
    height:0.7rem;
    background-color:var(--light_black);
    border:none;
}




/* Enjoy section */

.enjoy_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enjoy_section img {
    height:14rem;
}



/* Download section */
.download_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.phone_box {
    position: relative;
}

.phone {
    height:15rem;
}





.stranger_box {
    display:flex;
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
   text-align: center;  
   width:20rem;
    background-color: black;
    border: 2px solid var(--light_black);
    border-radius:5px;
    position: absolute;
    top: 55%;
    left:-40%;
    max-width: 300px;
    margin: 0px 2rem;
   
  
   
}



.gif {
    height:5rem !important;
}

.stranger_img{
    height:5rem ;
  
}





/* watch_section */

.watch_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.watch_section img {
    height:14rem;
}




.frequently_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.buttons_div {

    width: 50%;
    display: flex;
    flex-direction: column;
    min-width: 375px;
   
}


.buttons_div button {


padding:1rem;
font-size: 1.5rem 1.5rem 1.5rem 0rem;

margin: 0.3rem 2rem;
background-color:#303030;
color:white;
border: none;
display: flex;
justify-content: space-between;
flex-wrap: nowrap;

}



.mail_nd_btn_box {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  

    
 }


 input {
   
    padding: 1rem;
    border: none;
    min-width: 300px;
    margin-top: 1rem;
    
    
}


.mail_nd_btn_box button {
    background-color:var(--orange-color);
    margin-top: 1rem;
    padding: 1rem;
    color:white;
    border: none;
    max-width: 2px;

   
    

}

/* footer */

.footer_div{
  
}



.top_link {
    display: inline-block;
    color:white;
    text-decoration: none;
    color:#757575;
   

}

.link_ul{
    padding:3rem !important;
    list-style: none;
    padding: 0 ;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    flex-direction: column;
    justify-content: center;
    width: 100%;
   

}



.link_ul li {
    padding: 1em;
}

.link_ul a {

    color:#757575;
    text-decoration: none;
  
}


.net_gh {
    color:#757575;
    
}


@media only screen and (min-width:950px) {


            h1,
            h2,
            h3
            {   font-size: 3rem;
                padding:0.9rem;
                margin: 0;
                text-align: center;
            }



            h2,h3 {   font-size: 1.5rem;
                padding:0.9rem;
                margin: 0;
                text-align: center;



            }




            .unlimited_box {
                margin-top: 4rem;



                
            }

            .enjoy_section {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            
          


            .download_section {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            
            .phone {
                height:20rem;
            }


            .stranger_box {
               
          
                left:-17%;
             
               
            }



            .watch_section {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }


            .link_ul{
                padding:3rem !important;
                list-style: none;
                padding: 0 ;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                flex-direction: column;
                justify-content: center;
                width: 100%;
               
            
            }



               





}
            
            
            
            
           
          



