
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --black-color: black;
    --orange-color:#e50914;
    --light_black:#333;
    --blue_color: #0DBFB3;

}

html {
    box-sizing: border-box;
    background-color:black ;
    color:white;
    min-width: 300px;
   width: 100% !important;
    overflow-x: hidden;
  

}



body {

margin: 0;
padding: 0;
width: 100%;
min-width: 300px;
overflow-x: hidden;




   
}


h1,
h2,
h3
{   font-size: 2rem;
    padding:0.9rem;
    margin: 0;
    text-align: center;
}



h2,h3 {   
    font-size: 1.5rem;
    padding:0.9rem;
    margin: 0;
    text-align: center;
}



/* Same day delivery */

.unlimited_section {
   background-image: url(Images/1pro.png); 
   background-color: var(--light_black);
   background-repeat: no-repeat;
   background-size: cover;
   
   
 
}







header {
    padding:2rem;
    display:flex;
    justify-content: space-between;
  
}

header img {
height:2rem;


}


header > a:nth-of-type(2){
    color:white;
    text-decoration: none;
    background-color: var(--blue_color);
    border: 1px solid;
    border-radius: 0.2rem;
    padding:0.4rem;

}


.unlimited_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:black;
    padding-top:1rem;
    padding-bottom:8rem;
    z-index: 9999;
    padding-left: 1rem;
    
    

    
}

.mail1_nd_btn_box {
display:flex;
flex-wrap: wrap;
justify-content: center;



}

input {
   
    padding: 1rem;
    border: none;
    min-width: 300px;
    margin-top: 1rem;
    border: 1px solid black !important;
    box-shadow: 0 0 1em rgba(0,0,0,0.2)
    
    
}


.unlimited_box button {
    background-color:#00acee;
    margin-top: 1rem;
    padding: 1rem;
    color:white;
    border: none;

   
    

}

hr {
    height:0.7rem;
    background-color:var(--light_black);
    border:none;
}




/* Buy or sell*/

.enjoy_section {
    
   
   
    background-image: url(./Images/visit.png);
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
   
}

.buy_or_sell {
   
   
}

.buy_or_sell h1, a {
color:black !important;
text-decoration: none;

}

.buy_or_sell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  
   
}

.buy_or_sell h1, a {

color:white;
text-decoration: none;

}








/* Download section */
.download_section {

    display:flex;
    flex-direction: column;
    height: 50vh;
    background-image: url(./Images/testimonial-bg.png);
  
}









/* watch_section */

.watch_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem;
}


.watch_img_vid_box{
    position: relative;
}

.watch_section img {
    height:14rem;
    z-index: 9999;
  
}

.watch_vid {
 object-fit: contain;
  position: absolute;
  left:20%;
  top:10%;
  width: 60%;
  z-index: -1;

 
}










/* frequently */

.frequently_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem ;
    color:black;
    background-color: white;
    background-image: url(./Images/faq1.jpeg);
   
    
}

.buttons_div {

    width: 50%;
  
    display: flex;
    flex-direction: column;
    min-width: 375px;
    
  
  
    
   
}






.dropdown {
    background-color:var(--blue_color); 
    max-width: 82.9%;
    margin:auto;
    height:100%;
    display:none;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
  
  
   
}

.dropdown-check:checked ~ .dropdown {
  display:block;
  
}

.dropdown-check {
    display:none; 
}







.dropdown2 {
    background-color:var(--blue_color); 
    max-width: 82.9%;
    margin:auto;
    height:100%;
    display:none;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
  
}

.dropdown-check2:checked ~ .dropdown2 {
  display:block;
  
}

.dropdown-check2 {
    display:none; 
}








.dropdown3 {
    background-color:var(--blue_color); 
    max-width: 82.9%;
    margin:auto;
    height:100%;
    display:none;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
  
}

.dropdown-check3:checked ~ .dropdown3 {
  display:block;
  
}

.dropdown-check3 {
    display:none; 
}








.dropdown4 {
    background-color:var(--blue_color);  
    max-width: 82.9%;
    margin:auto;
    height:100%;
    display:none;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
  
   
}

.dropdown-check4:checked ~ .dropdown4 {
  display:block;
  
}

.dropdown-check4 {
    display:none; 
}





.dropdown5 {
    background-color:var(--blue_color); 
    max-width: 82.9%;
    margin:auto;
    height:100%;
    display:none;
    color:white;
    font-size: 1.2rem;
    padding:1rem;
  
   
}

.dropdown-check5:checked ~ .dropdown5 {
  display:block;
  
}

.dropdown-check5 {
    display:none; 
}






.buttons_div button {


padding:1rem;
font-size: 1.2rem;
font-weight: bold;

margin: 0.3rem 2rem;
background-color:var(--blue_color); 
color:white;
border: none;
display: flex;
justify-content: space-between;
flex-wrap: nowrap;


}



.mail_nd_btn_box {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
  

    
 }


 input {
   
    padding: 1rem;
    border: none;
    min-width: 300px;
    margin-top: 1rem;
    
    
}


.mail_nd_btn_box button {
    background-color:var(--orange-color);
    margin-top: 1rem;
    padding: 1rem;
    color:white;
    border: none;
    max-width: 2px;

   
    

}

/* footer */

.footer_section {

    background-image: url(/Images/footerimg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    display:flex;
    padding:1rem;
    padding-left: 5rem;
    padding-right: 5rem;
  

}

.footer_section > * {
    width: 100%;
}


.footer_logo {
    height:3rem;
}

.social_media {
   color:white;
   font-size: 1.5rem;
}


.connect {
    display:flex;
    flex-direction: column;
    align-items: center; 
}

.company {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.explore {
    display:flex;
    flex-direction: column;
    align-items: center;
}









@media only screen and (max-width: 500px) {

      header img {
        height:3rem;
        
        
        }
        
        
        header > a:nth-of-type(2){
            color:white;
            text-decoration: none;
            background-color: var(--blue_color);
            border: 1px solid;
            border-radius: 0.2rem;
            padding:0.4rem;
            font-size: 1rem;
            
        
        }

    .unlimited_section {
        background-image: url(Images/1pro\ mobilepng.png); 
        background-color: var(--light_black);
        background-repeat: no-repeat;
        background-size: cover;
        
        
      
     }

     .unlimited_box{
         display:flex;
         color:#f4f5f4;
        justify-content: center;
        align-items: center;
         
     }




     .enjoy_section {
    
   
   
        background-image: url(./Images/visit\ mob.png);
        background-size: cover;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }


    
  
    
    .buy_or_sell h1, a {
  
    color:white !important;
    text-decoration: none;
    font-size: 3rem;
    
    
    }

    .sign_in {

        font-size: 3 !important;
        height:2.3rem;
    }



    .footer_section {

        background-color: white;
        color:black;
        display:flex;
        flex-direction: column;
        padding:1rem;
        padding-left: 5rem;
        padding-right: 5rem;
      
    
    }
    
    .footer_section > * {
        width: 100%;
    }
    
    
    .footer_logo {
        height:3rem;
    }
    
    .social_media {
       color:#777777;
    }


    .footer_section {

        background-color: #767676;
        color:white;
        display:flex;
        padding:1rem;
        padding-left: 5rem;
        padding-right: 5rem;
      
    
    }


    .social_media {
        color:white;
        font-size: 1.5rem;
     }
   


    




}



@media only screen and (min-width:950px) {


            h1,
            h2,
            h3
            {   font-size: 4.5rem;
                padding:0.9rem;
                margin: 0;
                text-align: center;
            }



            h2,h3 {   font-size: 1.5rem;
                padding:0.9rem;
                margin: 0;
                text-align: center;



            }


            header img {
                height:4rem;
                
                
                }

                .sign_in {

                    font-size: 3 !important;
                    height:2rem;
                }

            .mail1_nd_btn_box button {
                font-size: 1.5rem;
            }




            .unlimited_box {
                margin-top: 4rem;



                
            }

            input {
   
                padding: 1rem;
                border: none;
                min-width: 500px;
                margin-top: 1rem;
                border: 1px solid black !important;
                box-shadow: 0 0 1em rgba(0,0,0,0.2);
                font-size: 1.5rem;
            
            }


            /* Buy & Sell */

            
            

            .enjoy_section {
    
   
   
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                
            }

            .buy_or_sell {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: baseline !important;
                
              
               
            }

            .buy_or_sell h1,a  {
             
                color:black;

              
               
            }

              .buy_or_sell h1  {
             
             
                font-size: 4rem;

              
               
            }


            .buy_or_sell a  {
             
                font-size: 2.5rem;
                color:var(--blue_color) !important;
              
               
            }

            .buy_or_sell a:hover  {
             
                text-decoration: underline;
                
              
               
            }



           
            
                
               
            

            

          
          

            /* donwload */


            .download_section {
               
            }
            
            .phone {
                height:20rem;
                margin-left:11rem;
            }


            .stranger_box {
               
          
                left:27%;
             
               
            }


            /* watch */

            .watch_section {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                padding:5rem;
            }


            .watch_section img {
                height:20rem;
            }


            /* frequently */
            .link_ul{
                padding:3rem !important;
                list-style: none;
                padding: 0 ;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                flex-direction: column;
                justify-content: center;
                width: 100%;
               
            
            }

            .buttons_div button {


               
                font-size: 1.2rem !important;
                
               
                
                
                }


            .unlimited_box {
                
             display:flex;
             flex-direction: column;
             justify-content: center;
            
             
               
                
             
             }

             .buttons_div button {
                 font-size: 2rem;
             }
        



            .dropdown {
                max-width: 82.9%;
                min-width:91%;
            }
               

            .dropdown2 {
               
                min-width:91%;
            }

            .dropdown3 {
               
                min-width:91%;
            }

            .dropdown4 {
               
                min-width:91%;
            }

            .dropdown5 {
               
                min-width:91%;
            }



}
            
            
            
            



